// $purple-gray:  #38363c;
$blue:         hsl(223, 40%, 19%);
$purple-gray:  hsl(223, 10%, 35%);
$purple-light: hsl(223, 50%, 60%);
$purple-white: #efe9ff;
$background:   #bdb6d0;
$color-text:   hsl(0, 0%, 100%);
$heading-text:   hsl(223, 70%, 80%);