@import './_colors';
@import './_fontSizes';
@import './_scrollbar';
@import './_left';
@import './_right';

body{
  overflow-y: overlay;
  margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

*{
	// margin: 0px;
	padding: 0px;
	box-sizing: content-box;
	font-family: 'Montserrat', sans-serif;
}

h1{
    margin: 20px 0;
}

.app{
    background: $background;
    padding: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;



    .resume{
        height:1200px;
        aspect-ratio: .7070707;
        background: white;
        box-shadow: 5px 21px 20px 20px #3d3f4238;
        display: flex;
        position: relative;

        .open-pdf{
            // background: $blue;
            // color: white;
            // padding: 10px 20px;
            // border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
            position: absolute;
            height:40px;
            width:40px;
            right: 0px;
            top: -50px;

            &:hover{
                color: rgb(82, 82, 212);
            }
        }
    }

    .print-pdf{
        position: fixed;
        bottom: 50px;
        right: 50px;
    }
}
