@import './_colors';

*{
	margin: 0px;
	padding: 0px;
	box-sizing: content-box;
	font-family: 'Montserrat', sans-serif;
    color: $color-text;
}

h1{
    margin: 20px 0;
    color: $heading-text;
}

.app{
    background: $background;
    padding: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

    .resume{
        height:1200px;
        aspect-ratio: .7070707;
        background: white;
        box-shadow: 5px 21px 20px 20px #3d3f4238;
        display: flex;
    
        .left{
            flex: 3;
            background: $purple-gray;
            border-left: 20px solid $blue;
            display: flex;
            flex-direction: column;
            gap: 25px;
            padding: 20px;

            .photo{
                display: flex;
                justify-content: center;
                align-items: center;

                img{
                    width: 80%;
                    border-radius: 50%;
                    // border: 1px solid white;
                }
            }

            .name{
                div{
                    font-size: 40px;
                    font-weight: bold;
                }
            }

            .about{

            }

            .contact{
                div{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 10px;
                }
            }

            .education{

            }
        }
    
        .right{
            flex:7;
        }
    }
}
