@import './_colors';
@import './_fontSizes';
@import './_scrollbar';
@import './_left';
@import './_right';

body{
  overflow-y: overlay;
  margin: 0;
}

*{
	// margin: 0px;
	padding: 0px;
	box-sizing: content-box;
	font-family: 'Montserrat', sans-serif;
}

h1{
    margin: 20px 0;
}

.app{
    background: $background;
    padding: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

    .resume{
        height:1200px;
        aspect-ratio: .7070707;
        background: white;
        box-shadow: 5px 21px 20px 20px #3d3f4238;
        display: flex;
    }

    .print-pdf{
        position: fixed;
        bottom: 50px;
        right: 50px;
    }
}
